body {
  margin: 0;
  background-color: #4A4A4A;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.c-container {
  max-width: 635px;
  margin: 0 auto;
  /*padding-top: 2%;*/
}

.c-card {
  background-color: #2F2F2F;
  padding: 8%;
  text-align: center;
}
.c-header {
  padding-top: 5%;
  padding-bottom: 5%;
}
.ch-left {
  float: left;
  width: 10%;
}
.ch-right {
  float: left;
  padding-left: 20px;
  width: 90%;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.ch-left img {
  width: 100%;
}
.chr-1 {
  font-size: 20px;
}
.chr-2 {
  font-size: 11px;
}
.chr-3 a{
  text-decoration: underline;
  color: #00BDAB;
  font-size: 11px;
  cursor: pointer;
}

.block-info-club {
  padding: 0 27%;
}
.block-info-club img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.club-title {
  font-size: 20px;
  padding-top: 20px;
}
.club-description {
  font-size: 14px;
  padding-top: 5px;
}
.divider {
  border: 1px solid #979797;
  margin: 20px 0;
}
.c-text {
  font-size: 18px;
  padding-bottom: 30px;
}

.w-btn.btn-crosswod {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #00BDAB;
  color: #ffffff;
  height: 49px;
  line-height: 49px;
  padding: 0 15px;
  border-radius: 3px;
  margin-top: 20px;
}
.w-btn.btn-crosswod.fix {
  margin-top: 15px;
}
.w-btn.btn-crosswod:hover {
  background-color: #00ad9b;
}
.c-or {
  font-size: 16px;
  color: #9B9B9B;
  padding-bottom: 2%;
}

.c-footer {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}
.c-footer.desctop {
  margin-top: 20px;
}
.btn-google-play img {
  height: 50px;
}
.btn-app-store img {
  height: 50px;
  margin-right: 15px;
}
.btn-training {
  background-color: #D4D6D9;
  min-width: 100px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  color: #4A4A4A;
  font-size: 12px;
  margin: 0 auto;
  display: inline-block;
  padding: 0 20px;
}
.c-train-title {
  padding-bottom: 10px;
  margin-top: 15px;
}
.c-block-links {
  margin-top: 20px;
}

.block-for-not {
  padding-left: 15%;
  position: relative;
  top: -50px;
}
.block-404 {
  font-size: 191px;
  color: #2F2F2F;
}
.block-not-found {
  color: #2F2F2F;
  font-size: 23px;
  padding-bottom: 15px;
}
.block-link a{
  color: #00BDAB;
  font-size: 21px;
  text-decoration: underline;
  font-weight: 300;
}





@media (min-width: 320px) and (max-width: 479px) {
  .c-container {
    padding: 0 5%;
  }
  .ch-left {
    width: 18%;
  }
  .ch-right {
    width: 82%;
  }
  .block-for-not {
    padding-left: 2%;
    top: 0;
  }
  .block-404 {
    font-size: 110px;
  }
  .block-not-found {
    font-size: 19px;
  }
  .block-link a{
    font-size: 16px;
  }
}



